
h1 {
    text-align: center;
    color: white;
    background-color: rgb(117, 114, 114);
    margin: auto;
    width: 50%;
    border: 10px solid black;
    padding: 20px;
    
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    width: 1000px;
}

th {
    font-size: x-large;
    background-color: lightgray;
}

input {
    padding: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 50px;
    border-color: 10px solid black;
    text-align: center;
}